body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.log-link {
  color: black;
}

.Logs {
  padding: 20px;
  margin-top: 3rem;
}

.log-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}
.card {
  background-color: beige;
  padding: 30px;
  border-radius: 10px;
}
