body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lavender;
}
nav{
  display:flex;
align-content: center;
color:salmon;
 background-color: royalblue;
 flex-direction: row;
}
.idx-grd{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 10px;
 
}
.card{
  background-color: lightblue;
  color:salmon;
  font-size: 18px;

}

.show{
  text-align: center;
}
.adj{
  width:50%;
  margin:auto auto;
}
.grid{
display:grid;
}
.default-grid{
  display:grid;
  grid-template-columns: repeat(3,1fr);
}
.column-2{
  grid-column: 2;
}
.ml{
  margin-left: 5px;
}
.nav-btn{
  display: flex;
  align-content: center;
  height: 50%;
  margin-top: 25px;
  margin-left: 25px;

}
.space{
  margin-left: 10px;
}